In [59]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [60]:
melb_data.loc[3521, 'Landsize']/(melb_data.loc[1690, 'Landsize'])

2.7857142857142856

In [61]:
melb_data.iloc[3521]

index                             3521
Suburb                      Kensington
Address                  67 Collett St
Rooms                                3
Type                                 h
Price                        1010000.0
Method                              PI
SellerG                         Edward
Date                         7/05/2016
Distance                           4.2
Postcode                          3031
Bedroom                            3.0
Bathroom                           1.0
Car                                0.0
Landsize                         234.0
BuildingArea                     104.0
YearBuilt                       1900.0
CouncilArea                  Melbourne
Lattitude                     -37.7923
Longtitude                    144.9332
Regionname       Northern Metropolitan
Propertycount                   5263.0
Coordinates         -37.7923, 144.9332
Name: 3521, dtype: object

Последние 7 элементов

In [62]:
melb_data.tail(7)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13573,13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0,"-37.89327, 144.64789"
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,256.0,126.0,1970.0,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,"-37.67917, 144.8939"
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

Изменение типов данных

In [63]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

describe
По умолчанию метод работает с числовыми (int64 и float64) столбцами и показывает число непустых значений (count), среднее (mean), стандартное отклонение (std), минимальное значение (min),  квантили уровней 0.25, 0.5 (медиана) и 0.75 (25%, 50%, 75%) и максимальное значение (max) для каждого столбца исходной таблицы.

In [64]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

Для того чтобы определить, сколько раз в столбце повторяется каждый из вариантов значений (т.е. найти частоту для каждого уникального знания), используется метод value_counts().

In [65]:
melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

тобы сделать вывод более интерпретируемым и понятным, можно воспользоваться параметром normalize. При установке значения этого параметра на True результат будет представляться в виде доли (относительной частоты):

In [66]:
melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [67]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

In [68]:
display (melb_data['Coordinates'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Coordinates
Non-Null Count  Dtype
--------------  -----
13580 non-null  object
dtypes: object(1)
memory usage: 106.2+ KB

None

In [69]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [70]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

Сколько процентов составляют таунхаусы

In [71]:
melb_data['Type'].value_counts(normalize=True)

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

Средняя цена на обьект недвижимости

In [72]:
print(melb_data['Price'].mean())

1075684.079455081

Максимальное количество парковочных мест

In [73]:
print(melb_data['Car'].max())

10

А теперь представим, что риэлторская ставка для всех компаний за продажу недвижимости составляет 12%. Найдём общую прибыльность риэлторского бизнеса в Мельбурне. Результат округлим до сотых:

In [74]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

Найдём, насколько медианная площадь территории отличается от её среднего значения. Вычислим модуль разницы между медианой и средним и разделим результат на среднее, чтобы получить отклонение в долях:
В результате получаем долю отклонения медианы от среднего значения. Умножив результат на 100, получим его в процентах. Отклонение медианы от среднего значения на 21% является довольно большим, и это повод задуматься над тем, чтобы исследовать признак на наличие аномалий.

In [75]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

Модальных значений может быть несколько, то есть несколько значений могут встречаться одинаковое количество раз. Поэтому метод mode(), в отличие от агрегирующих методов, возвращает не одно число, а серию.Вычислим, какое число комнат чаще всего представлено на рынке недвижимости:

In [76]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

In [77]:
print(melb_data['Propertycount'].max())

21650

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [78]:
print(melb_data['Distance'].std())

5.868724943071711

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [79]:
a = melb_data['BuildingArea'].median() 
b =  melb_data['BuildingArea'].mean()
print(a/b)

0.9023592033763547

In [80]:
import statistics
print(statistics.mode([1, 2, 4, 2, 3, 2, 1, 5, 6]))

2

In [81]:
print(melb_data['Bedroom'].mode())

0    3
Name: Bedroom, dtype: int64

Маской называется Series, которая состоит из булевых значений, при этом значения True соответствуют тем индексам, для которых заданное условие выполняется, в противном случае ставится значение False (например, цена > 2 млн).

In [82]:
mask = melb_data['Price'] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

Для фильтрации нужно просто подставить переменную mask в индексацию DataFrame. Маска показывает, какие строки нужно оставлять в результирующем наборе, а какие — убирать (выведем первые пять строк отфильтрованной таблицы):

In [83]:
display(melb_data[mask].head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

In [84]:
melb_data[melb_data['Price'] > 2000000]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.84810,144.94990,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.84470,144.95230,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.84220,144.95540,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.84150,144.95850,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.84360,144.95570,Southern Metropolitan,3280,"-37.8436, 144.9557"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13521,13521,Port Melbourne,44 Garton St,4,t,2455000.0,SP,Marshall,26/08/2017,3.5,...,2,123.0,0.0,2010,NaN,-37.83349,144.94840,Southern Metropolitan,8648,"-37.83349, 144.9484"
13523,13523,Prahran,69 Greville St,4,h,2668000.0,S,Biggin,26/08/2017,4.6,...,2,383.0,126.0,1970,NaN,-37.84879,144.98882,Southern Metropolitan,7717,"-37.84879, 144.98882"
13553,13553,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26/08/2017,10.2,...,2,1005.0,126.0,1920,NaN,-37.82421,145.10352,Southern Metropolitan,5457,"-37.82421, 145.10352"
13555,13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,...,3,832.0,126.0,1970,NaN,-37.83564,145.10919,Southern Metropolitan,5457,"-37.83564, 145.10919"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"

Условия можно комбинировать, используя операторы & (логическое И) и | (логическое ИЛИ). Условия при этом заключаются в скобки.

In [85]:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

 ## Обратите внимание, что использование привычных операторов and и or будет неверным и приведёт к ошибке, так как они выполняют логические операции между двумя булевыми числами. В нашем случае слева и справа от оператора стоят маски (объекты Series), для которых логическую операцию надо совершить поэлементно, а операторы and и or для такого не предназначены.

Давайте найдём максимальное количество комнат в таунхаусах. Так как в результате фильтрации получается DataFrame, то обратимся к нему по столбцу Rooms и найдём максимальное значение:

In [86]:
melb_data[melb_data['Type'] == 't']['Rooms'].max()

5

 теперь более сложный трюк: найдём медианную площадь здания у объектов, чья цена выше средней. Для того чтобы оградить наш код от нагромождений, предварительно создадим переменную со средней ценой:

In [87]:
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

Проблема аномальных значений состоит в том, что если мы обучаем модель на данных, содержащих выбросы, то мы имеем немалый шанс получить менее верный прогноз, чего нам, конечно же, не хотелось бы. Под очисткой данных понимается удаление из данных аномальных значений (выбросов), пропусков и данных, которые не несут информацию.

In [88]:
melb_data[melb_data['Bathroom'] == 0]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
139,139,Alphington,6 Naroon Rd,3,h,1485000.0,SP,McGrath,28/08/2016,6.4,...,0,597.0,126.0,1970,Darebin,-37.77810,145.02840,Northern Metropolitan,2211,"-37.7781, 145.0284"
281,281,Armadale,3/50 Denbigh Rd,2,u,546000.0,SP,hockingstuart,30/07/2016,6.3,...,0,0.0,126.0,1970,Stonnington,-37.85680,145.01610,Southern Metropolitan,4836,"-37.8568, 145.0161"
505,505,Balaclava,5/11 Albion St,2,u,497500.0,PI,hockingstuart,28/08/2016,6.6,...,0,0.0,126.0,1970,Port Phillip,-37.87390,144.99290,Southern Metropolitan,2952,"-37.8739, 144.9929"
584,584,Balwyn,5 Shrimpton Ct,2,h,1010000.0,PI,Marshall,30/07/2016,9.7,...,0,1611.0,126.0,1970,Boroondara,-37.80920,145.10160,Southern Metropolitan,5682,"-37.8092, 145.1016"
913,913,Bentleigh East,579 Warrigal Rd,3,h,700000.0,S,Thomson,22/05/2016,13.9,...,0,456.0,126.0,1970,Glen Eira,-37.93140,145.08080,Southern Metropolitan,10969,"-37.9314, 145.0808"
1063,1063,Brighton,17 New St,3,h,1900000.0,S,Marshall,6/08/2016,11.2,...,0,0.0,126.0,1970,Bayside,-37.93010,144.99350,Southern Metropolitan,10579,"-37.9301, 144.9935"
1070,1070,Brighton,1/5 Webb St,3,t,1067000.0,S,Kay,7/05/2016,11.2,...,1,0.0,126.0,1970,Bayside,-37.91190,144.98710,Southern Metropolitan,10579,"-37.9119, 144.9871"
1593,1593,Camberwell,5 Nicholsdale Rd,4,h,1400000.0,PI,Jellis,16/04/2016,7.8,...,0,693.0,126.0,1935,Boroondara,-37.83600,145.09140,Southern Metropolitan,8920,"-37.836, 145.0914"
2253,2253,Elsternwick,5/29 Nepean Hwy,2,u,410000.0,VB,Gary,28/05/2016,8.5,...,0,0.0,126.0,1970,Glen Eira,-37.88630,144.99960,Southern Metropolitan,4898,"-37.8863, 144.9996"
2777,2777,Glen Iris,25 Hope St,2,h,845000.0,S,Noel,10/09/2016,9.2,...,0,207.0,126.0,1970,Stonnington,-37.86300,145.05010,Southern Metropolitan,10412,"-37.863, 145.0501"
2797,2797,Glen Iris,130 High St,4,h,1550000.0,PI,Jellis,14/05/2016,9.2,...,0,769.0,126.0,1970,Boroondara,-37.86280,145.07340,Southern Metropolitan,10412,"-37.8628, 145.0734"
2808,2808,Glen Iris,1/64 Edgar St N,2,u,545000.0,S,Fletchers,16/07/2016,9.2,...,0,0.0,126.0,1970,Stonnington,-37.85000,145.04650,Southern Metropolitan,10412,"-37.85, 145.0465"
3390,3390,Ivanhoe,5/125 Locksley Rd,2,u,460000.0,VB,Fletchers,16/04/2016,7.9,...,0,0.0,126.0,1970,Banyule,-37.76620,145.05160,Eastern Metropolitan,5549,"-37.7662, 145.0516"
3556,3556,Kensington,7/51 Epsom Rd,2,u,526000.0,S,Nelson,22/08/2016,4.2,...,0,0.0,126.0,1970,Melbourne,-37.79190,144.92530,Northern Metropolitan,5263,"-37.7919, 144.9253"
3787,3787,Malvern,42 Cressy St,2,h,780000.0,VB,Jellis,14/05/2016,7.4,...,0,0.0,126.0,1970,Stonnington,-37.85020,145.04180,Southern Metropolitan,4675,"-37.8502, 145.0418"
4880,4880,Preston,19 Malpas St,4,h,1004000.0,S,Nelson,3/09/2016,8.8,...,0,650.0,126.0,1970,Darebin,-37.73460,145.02260,Northern Metropolitan,14577,"-37.7346, 145.0226"
5535,5535,South Melbourne,3 Park Pl,1,u,760500.0,S,Marshall,4/06/2016,2.1,...,0,438.0,126.0,1970,Port Phillip,-37.83530,144.96000,Southern Metropolitan,5943,"-37.8353, 144.96"
5642,5642,South Yarra,82/390 Toorak Rd,3,u,1072000.0,S,Kay,13/08/2016,3.3,...,0,0.0,126.0,1970,Stonnington,-37.84070,145.00430,Southern Metropolitan,14887,"-37.8407, 145.0043"
5711,5711,South Yarra,2/28 Tivoli Pl,2,u,910000.0,S,Williams,28/08/2016,3.3,...,0,0.0,126.0,1970,Melbourne,-37.83570,144.98590,Southern Metropolitan,14887,"-37.8357, 144.9859"
6392,6392,Toorak,1/183 Kooyong Rd,2,u,857000.0,S,Walsh,22/08/2016,4.6,...,0,0.0,126.0,1970,Stonnington,-37.84580,145.02210,Southern Metropolitan,7217,"-37.8458, 145.0221"
6406,6406,Toorak,6/183 Kooyong Rd,2,u,866000.0,S,Marshall,30/07/2016,4.6,...,0,0.0,126.0,1970,Stonnington,-37.84580,145.02210,Southern Metropolitan,7217,"-37.8458, 145.0221"
6651,6651,Yarraville,1/53 Stephen St,2,u,410000.0,PI,hockingstuart,6/08/2016,7.0,...,0,0.0,126.0,1970,Maribyrnong,-37.81290,144.89520,Western Metropolitan,6543,"-37.8129, 144.8952"
6671,6671,Yarraville,1a Kingston St,2,h,610000.0,SP,Jas,15/10/2016,7.0,...,0,94.0,126.0,1970,Maribyrnong,-37.81500,144.88270,Western Metropolitan,6543,"-37.815, 144.8827"
6856,6856,East Melbourne,37/22 Agnes St,2,u,740000.0,SP,Woodards,8/10/2016,1.5,...,0,0.0,126.0,1970,Melbourne,-37.81770,144.98010,Northern Metropolitan,3040,"-37.8177, 144.9801"
6866,6866,East Melbourne,9/35 Powlett St,2,u,872000.0,S,Dingle,28/05/2016,1.5,...,0,0.0,126.0,1970,Melbourne,-37.81540,144.98510,Northern Metropolitan,3040,"-37.8154, 144.9851"
6938,6938,Fawkner,1/66 Lorne St,3,u,470000.0,SP,Brad,26/07/2016,12.4,...,0,261.0,126.0,1970,Moreland,-37.71580,144.97220,Northern Metropolitan,5070,"-37.7158, 144.9722"
7494,7494,Balwyn North,215 Doncaster Rd,3,h,1670000.0,S,hockingstuart,29/04/2017,9.2,...,0,818.0,126.0,1970,Boroondara,-37.79390,145.08660,Southern Metropolitan,7809,"-37.7939, 145.0866"
8010,8010,Ivanhoe,1/53 Norman St,3,t,1060000.0,S,Purplebricks,29/04/2017,7.9,...,0,219.0,126.0,1980,Banyule,-37.76790,145.04660,Eastern Metropolitan,5549,"-37.7679, 145.0466"
8271,8271,Preston,86 Malpas St,3,h,1010000.0,SP,McGrath,20/05/2017,8.8,...,0,533.0,126.0,1970,Darebin,-37.73360,145.01680,Northern Metropolitan,14577,"-37.7336, 145.0168"
9090,9090,Caulfield East,5/33 Grange Rd,2,u,350000.0,SP,Gary,3/06/2017,8.4,...,0,0.0,126.0,1970,Glen Eira,-37.88385,145.04785,Southern Metropolitan,608,"-37.88385, 145.04785"
9917,9917,Hawthorn,1/30 Lisson Gr,2,h,1480000.0,S,Marshall,24/06/2017,5.3,...,0,241.0,126.0,1970,Boroondara,-37.82679,145.03021,Southern Metropolitan,11308,"-37.82679, 145.03021"
10795,10795,Preston,24 Mitchell St,3,h,1150000.0,SP,McGrath,8/07/2017,8.4,...,0,502.0,126.0,1970,Darebin,-37.74936,144.98949,Northern Metropolitan,14577,"-37.74936, 144.98949"
10895,10895,Balaclava,9/36 The Avenue,2,u,700000.0,SP,Marshall,12/08/2017,6.4,...,0,0.0,126.0,1970,Port Phillip,-37.87149,144.99746,Southern Metropolitan,2952,"-37.87149, 144.99746"
11204,11204,St Albans,148 Power St,3,h,702000.0,SP,Sweeney,12/08/2017,14.0,...,0,600.0,126.0,1970,Brimbank,-37.72945,144.79592,Western Metropolitan,14042,"-37.72945, 144.79592"

In [89]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?

In [90]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
#melb_data[melb_data['Type'] == 't']['Rooms'].max()

412500.0

Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

In [104]:
df_filtered = melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]
average_price = round(df_filtered['Price'].mean())
display(average_price)

769239

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [107]:
a= melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]
display(a['Regionname'].mode())

0    Northern Metropolitan
Name: Regionname, dtype: object