In [31]:
import pandas as pd

In [32]:
mov = pd.read_csv("C:\IDE\SkillFactory\PY_12_\movies_2\pratings_movies.csv")

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [33]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return 0

Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [34]:
mov['year_release']=mov['title'].apply(get_year_release)

In [35]:
sum(mov['year_release'] == 0)

18

Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [36]:
mov.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [37]:
mask = mov['year_release'] == 1999
mov[mask].groupby('title')['rating'].mean().sort_values()

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [38]:
mask = mov['year_release'] == 2010
mov[mask].groupby('genres')['rating'].mean().sort_values()

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [39]:
mov.groupby('userId')['genres'].agg(
    ['nunique']
).sort_values(by ='nunique', ascending=False)

        nunique
userId
599         524
414         482
448         403
380         399
474         395
...         ...
578          15
12           15
85           13
214          13
245          13

[610 rows x 1 columns]

In [40]:
mov.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.

In [41]:
mov.groupby('userId')['rating'].agg(['count','mean']).sort_values(['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.

In [42]:
mask = mov['year_release'] == 2018
grouped = mov[mask].groupby('genres')['rating'].agg(['mean','count'])
mask2=grouped['count'] > 10
grouped[mask2].sort_values(by = ['count','mean'],ascending=[True,True])

                             mean  count
genres
Action|Comedy|Sci-Fi     3.875000     12
Action|Adventure|Sci-Fi  3.928571     14

Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [43]:
mov.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [44]:
mov['date']= pd.to_datetime(mov['date'])
mov['date']= mov['date'].dt.year

In [76]:
pivot = mov.pivot_table(
    values='rating',
    index=['date'],
    columns='genres',
    aggfunc='median',
    fill_value=0
)
display(pivot)

genres,(no genres listed),Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children,Action|Adventure|Animation|Children|Comedy,Action|Adventure|Animation|Children|Comedy|Fantasy,Action|Adventure|Animation|Children|Comedy|IMAX,Action|Adventure|Animation|Children|Comedy|Romance,Action|Adventure|Animation|Children|Comedy|Sci-Fi,...,Romance|Thriller,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|IMAX,Sci-Fi|Thriller,Sci-Fi|Thriller|IMAX,Thriller,War,Western
date,,,,,,,,,,,,,,,,,,,,,
1996,0.0,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,3.00,0.0,4.00,0.0,3.00
1997,0.0,3.00,4.50,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,3.00,0.0,4.00,0.0,3.00
1998,0.0,0.00,5.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,4.00,0.0,0.00
1999,0.0,0.00,4.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,2.0,0.0,0.0,0.00,0.00,4.00,0.0,4.00,4.5,4.00
2000,0.0,3.00,4.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,4.0,0.0,3.0,3.50,0.00,2.00,0.0,3.00,3.0,4.00
2001,0.0,3.00,4.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,0.0,0.0,3.0,2.50,0.00,2.50,0.0,3.00,3.0,3.00
2002,0.0,3.00,4.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,3.0,0.0,0.0,3.50,0.00,4.00,0.0,4.00,3.5,3.00
2003,0.0,3.50,3.50,0.00,0.00,0.00,0.00,0.00,0.0,0.0,...,3.5,2.5,0.0,2.00,0.00,3.50,0.0,3.00,3.0,4.00
2004,0.0,2.50,4.00,0.00,0.00,4.00,0.00,0.00,0.0,0.0,...,3.0,3.0,3.5,2.25,0.00,0.00,0.0,3.50,3.0,4.00
2005,0.0,3.50,3.50,0.00,0.00,4.00,0.00,0.00,0.0,0.0,...,2.0,0.0,0.0,3.00,0.00,2.75,0.0,3.50,0.0,4.50
2006,0.0,2.50,4.00,0.00,0.00,4.00,0.00,0.00,0.0,3.0,...,0.0,0.0,0.0,0.50,0.00,4.50,0.0,4.00,0.0,3.75
2007,0.0,2.75,4.00,0.00,0.00,4.00,3.00,0.00,0.0,3.0,...,1.5,0.0,2.5,3.25,0.00,3.25,0.0,3.50,0.0,3.00
2008,0.0,3.00,4.00,0.00,0.00,4.00,4.00,0.00,0.0,3.5,...,0.0,0.0,0.0,3.25,0.00,3.00,0.0,3.50,0.0,4.00
2009,0.0,0.00,4.00,0.00,0.00,4.00,0.00,3.25,0.0,2.5,...,0.0,0.0,0.0,2.50,0.00,4.00,0.0,3.50,4.0,3.25
2010,0.0,3.50,3.50,0.00,0.00,4.50,0.00,3.50,3.0,0.0,...,0.0,0.0,0.0,4.00,0.00,2.50,0.0,2.50,0.0,4.00
2011,0.0,4.50,4.00,0.00,0.00,3.50,0.00,0.00,0.0,4.0,...,0.0,0.0,0.0,3.50,0.00,2.00,4.0,4.25,0.0,4.00
2012,0.0,3.00,4.00,0.00,4.00,3.50,0.00,3.50,4.0,0.0,...,2.5,0.0,0.0,4.25,0.00,3.50,3.5,3.25,0.0,4.00
2013,0.0,2.50,4.00,0.00,3.00,4.50,0.00,5.00,0.0,0.0,...,0.0,0.0,0.0,1.50,0.00,3.50,4.0,3.50,0.0,4.00
2014,0.0,0.00,3.75,3.50,3.50,3.25,4.00,3.50,4.0,0.0,...,0.0,0.0,0.0,2.50,5.00,0.00,4.0,4.00,0.0,4.00
2015,0.5,4.50,4.00,4.00,4.00,4.00,4.00,3.25,2.5,2.5,...,0.0,0.0,0.0,3.00,4.25,3.50,4.0,3.00,0.0,4.00
2016,4.0,3.50,4.00,3.75,3.75,4.00,3.50,3.50,1.0,4.0,...,2.5,0.0,0.0,4.00,4.00,4.00,3.5,3.50,0.0,4.00
2017,3.0,2.50,3.50,3.25,3.50,4.00,3.75,1.00,1.0,1.5,...,3.0,0.0,0.0,4.00,4.50,4.25,2.5,3.00,0.0,3.00
2018,4.0,2.50,3.50,4.00,3.50,4.00,4.50,4.00,3.0,4.0,...,0.0,0.0,0.0,3.50,3.50,3.50,0.0,3.50,0.0,3.50

In [82]:
pivot.columns

Index(['(no genres listed)', 'Action', 'Action|Adventure',
       'Action|Adventure|Animation', 'Action|Adventure|Animation|Children',
       'Action|Adventure|Animation|Children|Comedy',
       'Action|Adventure|Animation|Children|Comedy|Fantasy',
       'Action|Adventure|Animation|Children|Comedy|IMAX',
       'Action|Adventure|Animation|Children|Comedy|Romance',
       'Action|Adventure|Animation|Children|Comedy|Sci-Fi',
       ...
       'Romance|Thriller', 'Romance|War', 'Romance|Western', 'Sci-Fi',
       'Sci-Fi|IMAX', 'Sci-Fi|Thriller', 'Sci-Fi|Thriller|IMAX', 'Thriller',
       'War', 'Western'],
      dtype='object', name='genres', length=951)

In [85]:
pivot['Action|Adventure'].min()
pivot['Action|Adventure|Animation|Children|Comedy|IMAX'].max()
pivot['Action|Comedy']
pivot['Animation|Children|Mystery']

date
1996    0.0
1997    0.0
1998    0.0
1999    0.0
2000    0.0
2001    0.0
2002    0.0
2003    0.0
2004    0.0
2005    0.0
2006    0.0
2007    0.0
2008    0.0
2009    0.0
2010    0.0
2011    0.0
2012    0.0
2013    0.0
2014    0.0
2015    0.0
2016    0.0
2017    0.0
2018    5.0
Name: Animation|Children|Mystery, dtype: float64